extends ../../layouts/product-item

block variables
    - const title = "Крыжовник 'Орфей'";
    - const banner = "gooseberry"

block content
    - const productTitle = "'Орфей'";
    - const imgPath = "../img/gooseberry/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-2',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-3',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-4',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-5',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-6',
                'alt': "Крыжовник 'Орфей'"
            },
            {
                'imgPath': 'gooseberry-orfey/gooseberry-orfey-7',
                'alt': "Крыжовник 'Орфей'"
            },
        ]
    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                p.product__info-descr
                                    | Крыжовник зеленый «Орфей» РФ -  среднего срока созревания.
                                    | Срок созревания – середина июля.
                                    | Прямостоячий, среднерослый, шиповатость нижесредней, побеги мощные, быстро вступает в плодоношение (на второе лето после посадки).
                                    | Засухоустойчивый, с большой энергией роста.
                                    | Ягоды имеют зеленовато – медовые цвет, грушевидную форму, удлиненно-овальные, массой 8-12г.
                                    | Оболочка зеленоватого цвета, мякоть мягкая и сладкая.
                                    | Скороплодный, урожайность 3,6-4,5 кг с куста.
                                    | Сорт устойчив к американской мучнистой росе и другим грибковым заболеваниям.

                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                p.product__info-descr
                                    | Прост в уходе, нетребователен к почве, интересен по вкусовым качествам (9.1% сахара).

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img + '.webp' type="image/webp")
                                    img(src=post.img + '.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")