extends ../../layouts/product-item

block variables
    - const title = "Голубика 'Дениз Блю'";
    - const banner = "blueberry"

block content
    - const productTitle = "Дениз Блю";
    - const imgPath = "../img/blueberry/";
    - const addInfo = "Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'denise-blue/denise-blue',
                'alt': "Голубика 'Дениз Блю'"
            },
            {
                'imgPath': 'denise-blue/denise-blue-2',
                'alt': "Голубика 'Дениз Блю'"
            },
            {
                'imgPath': 'denise-blue/denise-blue-3',
                'alt': "Голубика 'Дениз Блю'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | «Дениз Блю» (Denise Blue)  ранне-среднего срока созревания.
                                        | Прямостоячий, раскидистый.
                                        | Срок созревания – с 15 чисел июля.
                                        | Высота 1,5 - 1,7м.
                                        | Урожай регулярный, полноценный, поэтапный 6 - 8 кг с куста.
                                        | Ягоды крупные, вес около 1,8 г., сладкие, с розовым отливом, округлой формы.
                                        | В сезоне 2020 показал отличительное сахаранакопление, и обьем ягод.
                                        | Перспективный сорт при правильном уходе, есть свои тонкости, уточняйте вопросы правильной обрезки.
                                        | Сорт считается самоопыляемым, но это не так.
                                        | Рекомендуем посадку в паре с «Ханна – Чойс», «Дюк», «Река».
                                        | Средняя устойчивость к грибковым заболеваниям, необходима 1-2 стандартные обработки весной (профилактика).
                                        | Нельзя допускать загущенности куста.
                                        | Сорт перспективный.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")