extends ../../layouts/product-item

block variables
    - const title = "Голубика 'Хардиблю'";
    - const banner = "blueberry"

block content
    - const productTitle = "'Хардиблю'";
    - const imgPath = "../img/blueberry/";
    - const addInfo = "Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'hardy-blue/hardy-blue',
                'alt': "Голубика 'Хардиблю'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Хардиблю («HardyBlue») –  среднего срока созревания.
                                        | Срок созревания – 10-12 числа августа.
                                        | Высота куста 1,7-2м, прямостоячий, приподнятый.
                                        | Урожай регулярный, 7 - 9 кг с куста.
                                        | Масса ягоды 1,8 - 2г, 14-16мм, средней величины.
                                        | Темно-синие, ароматные, со слабым восковым налетом.
                                        | Данный сорт является прямым конкурентом «Блюкропа», но по личным наблюдениям, его превосходит.
                                        | Устойчив к грибковым заболеваниям.
                                        | Не требует обрезки первые 5 лет, не склонен к подмерзанию.
                                        | Хардиблю станет отличным началом для садовода – любителя.
                                        | Подмерзаний в аг.Прудок, аг.Малые Зимовищи, аг. Каменка не наблюдалось (территории возвратных заморозков, Мозырский р-н).

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")