extends ../../layouts/product-item

block variables
    - const title = "Голубика 'Пуру'";
    - const banner = "blueberry"

block content
    - const productTitle = "'Пуру'";
    - const imgPath = "../img/blueberry/";
    - const addInfo = "Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'puru/puru',
                'alt': "Голубика 'Пуру'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | «Пуру» (Puru) – ранне-средний сорт.
                                        | Куст прямостоячий.
                                        | Высота 1,7-2м, мощно развиты вертикальные побеги.
                                        | Урожай первый 3 года до 4,5 кг, после 5-7 кг.
                                        | Ягоды созревают с 20х чисел июля и до конца августа.
                                        | Крупные, 16-18 мм, некоторые до 20мм.
                                        | Блестящие, светло-голубые, с маленьким рубчиком.
                                        | Используются для употребления в свежем виде, хорошо хранятся.
                                        | Листья у этого сорта покрыты плотным восковым налетом, благодаря чему не повреждаются вредителями с колюще-сосущим ротовым аппаратом.
                                        | Устойчив к грибковым заболеваниям.
                                        | Описание будет дополняться в ходе наблюдений.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")