-
  let otherStatus =
          (filenameCatalog == 'other' ||
            filenameCatalog == 'currant' ||
            filenameCatalog == 'gooseberry' ||
            filenameCatalog == 'blackberry' ||
            filenameCatalog == 'raspberries' ||
            filenameCatalog == 'strawberry' ||
            filenameCatalog == 'lemon' ||
            filenameCatalog == 'honey'
          );
-
  let decorStatus =
          (filenameCatalog == 'decor' ||
            filenameCatalog == 'azalea' ||
            filenameCatalog == 'hydrangea' ||
            filenameCatalog == 'cypress' ||
            filenameCatalog == 'juniper' ||
            filenameCatalog == 'mint' ||
            filenameCatalog == 'paulownia' ||
            filenameCatalog == 'rhododendron' ||
            filenameCatalog == 'thuja'
          );

nav.header__nav
  .header__nav-mob
    button.header__nav-mob__toggle
      | Меню
      span.header__nav-mob__btn
        span
  ul.header__nav-list
    li.header__nav-item
      a(href='../index.html') Главная
    li.header__nav-item(class=filenameCatalog == 'grapes' ? 'active' : '')
      a(href='../grapes.html') Виноград
    li.header__nav-item(class=filenameCatalog == 'blueberry' ? 'active' : '')
      a(href='../blueberry.html') Голубика
    li.header__nav-item(class=filenameCatalog == 'honeysuckle' ? 'active' : '')
      a(href='../honeysuckle.html') Жимолость
    li.header__nav-item._sublist(class=(otherStatus ? 'active' : ''))
      a(href='../other.html') Прочее
      ul.header__nav-item__sublist
        li.header__nav-item__subitem(class=filenameCatalog == 'currant' ? 'active' : '')
          a(href='../currant.html') Смородина
        li.header__nav-item__subitem(class=filenameCatalog == 'gooseberry' ? 'active' : '')
          a(href='../gooseberry.html') Крыжовник
        li.header__nav-item__subitem(class=filenameCatalog == 'blackberry' ? 'active' : '')
          a(href='../blackberry.html') Ежевика
        li.header__nav-item__subitem(class=filenameCatalog == 'raspberries' ? 'active' : '')
          a(href='../raspberries.html') Малина
        li.header__nav-item__subitem(class=filenameCatalog == 'strawberry' ? 'active' : '')
          a(href='../strawberry.html') Клубника
        li.header__nav-item__subitem(class=filenameCatalog == 'lemon' ? 'active' : '')
          a(href='../lemon.html') Лимон
        li.header__nav-item__subitem(class=filenameCatalog == 'honey' ? 'active' : '')
          a(href='../honey.html') Мёд
    li.header__nav-item._sublist(class=(decorStatus ? 'active' : ''))
      a(href='../decor.html') Декор
      ul.header__nav-item__sublist
        li.header__nav-item__subitem(class=filenameCatalog == 'azalea' ? 'active' : '')
          a(href='../azalea.html') Азалия
        li.header__nav-item__subitem(class=filenameCatalog == 'hydrangea' ? 'active' : '')
          a(href='../hydrangea.html') Гортензия
        li.header__nav-item__subitem(class=filenameCatalog == 'cypress' ? 'active' : '')
          a(href='../cypress.html') Кипарис
        li.header__nav-item__subitem(class=filenameCatalog == 'juniper' ? 'active' : '')
          a(href='../juniper.html') Можжевельник
        li.header__nav-item__subitem(class=filenameCatalog == 'mint' ? 'active' : '')
          a(href='../mint.html') Мята
        li.header__nav-item__subitem(class=filenameCatalog == 'paulownia' ? 'active' : '')
          a(href='../paulownia.html') Павлония
        li.header__nav-item__subitem(class=filenameCatalog == 'rhododendron' ? 'active' : '')
          a(href='../rhododendron.html') Рододендрон
        li.header__nav-item__subitem(class=filenameCatalog == 'thuja' ? 'active' : '')
          a(href='../thuja.html') Туя
    li.header__nav-item
      a(href='../contacts.html') Контакты