extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Аркадия Люкс'";
    - const banner = "grapes"

block content
    - const productTitle = "Аркадия Люкс";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'arkadiya-lyuks/arkadiya-lyuks',
                'alt': "Виноград 'Аркадия Люкс'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Сорт винограда "Аркадия-Люкс" - высокоурожайный гибридный сорт, обладающий отменными вкусовыми качествами. Урожайность обильная. Кисти массивные, плотные, масса каждой может составить от 0,8 - 1,8 кг  но встречаются и гигантские грозди весом до 2 кг (зависит от агротехники). Срок созревания конец августа (20 числа), начало сентября.
                                    p
                                        | Созревает на 2 недели раньше Аркадии, более устойчив к заболеваниям, зарекомендовал себя как отличный сорт на протяжении 18  лет.
                                    p
                                        | Ягоды округлой формы, желтого цвета, довольно крупных размеров - около 3 см в диаметре. Мякоть сочная, приятного фруктового вкуса, с ненавязчивым мускатным послевкусием. Сорт отлично переносит морозы до -24 градусов в условиях г. Мозыря ( при укрытии до -28-30 градусов). За 20 лет в условиях г. Мозыря подмерзаний не наблюдалось.
                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p На песках очень сладкий. Не вносить большие дозы Азотных удобрений.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")