extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Багира'";
    - const banner = "grapes"

block content
    - const productTitle = "Багира";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'bagira/bagira',
                'alt': "Виноград 'Багира'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Багира. Элитная форма винограда.
                                        | Технический сорт.
                                        | Относится к сортам среднего срока созревания.
                                        | Созревание в начале сентября.
                                    p
                                        | Грозди среднего размера, цилиндро-конические с крупной лопастью, умеренной плотности. Ягоды средние, округлые, сочные, черные. Вкус гармоничный, сок неокрашен.
                                        | Кусты средней силы роста. Урожайность 120-130 ц/га при схеме посадки 3 х 1 м. Сахаристость сока ягод 21-22 г/100 см3, кислотность 7-8 г/дм3 Морозостойкость очень высокая, при зимнем понижении температуры до -28 °С полностью сохранился урожай. Степень повреждения Багиры милдью 2,0, оидиумом поражается гроздь и побег на 3-3,5 балла, к филлоксере неустойчив. Используется в селекционном процессе в качестве донора морозостойкости и стабильной урожайности.
                                        | Дегустационная оценка молодого столового вина - 7,8 балла.
                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p Не боится возвратных заморозков на территории: аг. Прудок, аг. Зимовищи.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")