extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Гурман Ранний'";
    - const banner = "grapes"

block content
    - const productTitle = "'Гурман Ранний'";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'gurman-rannii/gurman-rannii',
                'alt': "Виноград 'Гурман Ранний'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Гурман ранний - гибридная форма винограда любительской селекции Крайнова В.Н., самая ранняя форма из серии "гурманов", созревает к середине августа.
                                    p
                                        | Грозди конические, умеренной плотности, средней массой до 800 гр, на мощных формировках свыше килограмма (1200гр) . Ягоды конической формы, нежно розового цвета, при перезревании до ярко розового, средняя масса ягод 8-10гр, самые крупные до 12-13гр. Мякоть мясистая, кожица при еде не ощущается, вкусовые качества очень высокие, с мускатом..
                                    p
                                        | Устойчивость к основным болезням на уровне 3,5 баллов, ягоды не растрескиваются и не поражаются серой гнилью. Морозоустойчивость до -22
                                        | Благодаря высоким вкусовым качествам сорт винограда Гурман Ранний нашел свое место не только на небольших приусадебных виноградниках, но и на товарных, специализирующихся на выращивании ягоды на продажу. Такой виноград пользуется постоянным спросом у наших клиентов.

                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p Урожайность увеличивается спустя 5 лет.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")