extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Кишмиш Находка'";
    - const banner = "grapes"

block content
    - const productTitle = "'Кишмиш Находка'";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'kishmish-nakhodka/kishmish-nakhodka',
                'alt': "Виноград 'Кишмиш Находка'"
            },
            {
                'imgPath': 'kishmish-nakhodka/kishmish-nakhodka-2',
                'alt': "Виноград 'Кишмиш Находка'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Кишмиш Находка — очень ранний столовый сорт винограда без косточки. Селекция В.Н. Крайнова. Цветок обоеполый. Полная зрелость ягод наступает в первой половине августа. средне-сильнорослый.
                                    p
                                        | Грозди 700–1500 г, средней плотности, конические. Ягоды 7–8 г, розового цвета, с плотной мякотью, приятного гармоничного вкуса. Уже в начале августа можно снимать первый урожай.
                                    p
                                        | Сахаристость высокая 19–22.  Побеги вызревают хорошо. Нагрузка на куст 30–40 глазков. Обрезка на 8–10 глазков. Стабилен, надёжен, не выносит перегруза. Куст имеет большую силу роста. Морозоустойчивость в условиях г. Мозырь -23°С (при укрытии до -30).
                                    p
                                        | Устойчив к милдью (3,0 балла) и серой гнили (2 балла).
                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p Хорошая крупная ягода размером до 2,5 см без косточек. За 16 лет выращивания проблем с этим сортом не возникало, зарекомендовал себя отлично. До 3-х лет оставлять 1-2 грозди на плодоносящем побеге. Данный сорт подходит для начинающего виноградаря.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")