extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Подарок Запорожью'";
    - const banner = "grapes"

block content
    - const productTitle = "'Подарок Запорожью'";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'podarok-zaporozhyu/podarok-zaporozhyu',
                'alt': "Виноград 'Подарок Запорожью'"
            },
            {
                'imgPath': 'podarok-zaporozhyu/podarok-zaporozhyu-2',
                'alt': "Виноград 'Подарок Запорожью'"
            },
            {
                'imgPath': 'podarok-zaporozhyu/podarok-zaporozhyu-3',
                'alt': "Виноград 'Подарок Запорожью'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Подарок Запорожью - столовая форма винограда. Срок созревания – средний (конец августа). Сильнорослый. Грозди крупные 600-900 г, некоторые достигают до 2кг. Конические или цилиндро-конические, от рыхлых до плотных. Ягоды крупные 33x25 мм, массой до 15г, зеленые, мясисто-сочные. Цветок функционально женского типа, но опыляется очень хорошо даже в неблагоприятные для цветения годы. Достаточно цветущих недалеко в то же время обоеполых сортов (форм), не обязательно рядом. Урожайность высокая и очень высокая.  У сорта винограда Подарок Запорожью повышенна устойчивость к грибным болезням. Отличная агробиология, урожайный, простой вкус.

                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p
                                        | Прекрасный классчиеский сорт Украинской селекции, для полноценного опыления рекомендуем использовать в паре с «Аркадия - Люкс», «К-ш 342».

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")