extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Сенатор'";
    - const banner = "grapes"

block content
    - const productTitle = "Сенатор";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'senator/senator',
                'alt': "Виноград 'Сенатор'"
            },
            {
                'imgPath': 'senator/senator-2',
                'alt': "Виноград 'Сенатор'"
            }
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Сенатор – гибридная форма винограда селекции Павловского Е.Г., получена при скрещивании Подарок Запорожью х ПГ-12. Срок созревания раннесредний, в условиях г. Новочеркасска созревает в конце августа - начале сентября. Цветок обоеполый. Кусты большой силы роста. Грозди крупные, средней плотности, средняя масса грозди 724 г. Ягоды овальные, темно-красные, средняя масса ягоды 11,6 г. Мякоть мясисто-сочная, вкус мускатный. Транспортабельность высокая. Устойчивость к грибным заболеваниям средняя, к морозу – до минус 23°С.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")