extends ../../layouts/product-item

block variables
    - const title = "Виноград 'Ранний Палыча (Слава Украине)'";
    - const banner = "grapes"

block content
    - const productTitle = "Ранний Палыча (Слава Украине)";
    - const imgPath = "../img/grapes/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'slava-ukraine/slava-ukraine',
                'alt': "Виноград 'Ранний Палыча (Слава Украине)'"
            }
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Слава Украине (Вишневецкого Н.П.)
                                        br
                                        br
                                        | Слава Украине - гибридная форма винограда приватной селекции Вишневецкого Н.П. Срок созревания 10-15 числа августа. Кусты сильнорослый, тип цветка обоеполый. Грозди конические, крупные, умеренной плотности или средне-плотные, средней массой до килограмма и более, горошения практически не наблюдается. Ягоды овальные или овально-яйцевидные, иногда с заостренным кончиком, белые, средней массой 10-12гр. Мякоть мясисто-сочная, приятного гармоничного вкуса с лёгким мускатным ароматом. Кожица тонкая, не акцентируется при еде. Плодоносность побегов и урожайность формы высокие. Лоза вызревает хорошо, черенки укореняются хорошо. Устойчивость к болезням повышенная, зимостойкость изучается.
                                        br
                                        br
                                        | Слава Украине - перспективная,  гибридная форма винограда, в процессе изучения, описание будет дополнена.

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")