extends ../../layouts/product-item

block variables
    - const title = "Жимолость 'Хоней Би'";
    - const banner = "honeysuckle"

block content
    - const productTitle = "'Хоней Би'";
    - const imgPath = "../img/honeysuckle/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'honey-bee/honey-bee',
                'alt': "Жимолость 'Хоней Би'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Хоней Би (Honey Bee) – раннего срока созревания.
                                        | Канадская селекция. Гибрид сортов «Suvenir» и «Blue Pacific»
                                        | Срок созревания – конец мая и до конца июля.
                                        | Куст прямостоячий,округлый, сдержанный, высотой 1,2-1,3 м, шириной 1,0-1,2 м густой.
                                        | Куст среднерослый, раскидистый, требующий простора.
                                        | Если делать регулярную обрезку куста (раз в 2-3 года), то это приведет к значительному увеличению урожая.
                                        | Ягоды продолговатые, цилиндрические, массой 0,8-1,4 гр (некоторые до 2гр).
                                        | Плодоножка длинная, у спелых ягод отделяется легко. Плоды не осыпаются.
                                        | Средняя урожайность с куста - 4–5,5 кг.
                                        | В качестве опылителей рекомендуются сорта: «Индиго Джем», «Тундра», «Аврора»,«Бореалис».
                    .product__row
                        .product__info
                            .product__info-wrap
                                h3.page__sub-heading Дополнительно к сорту
                                .product__info-descr
                                    p Для хорошего урожая желательно сажать рядом несколько разных сортов (для обеспечения перекрестного опыления).

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")