extends ../../layouts/product-item

block variables
    - const title = "Азалия 'Toucan'";
    - const banner = "azalea"

block content
    - const productTitle = "Toucan";
    - const imgPath = "../img/azalea/";
    - const addInfo = "Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны. К продукции прилагается наша аннотация по уходу (обработка, посадка)."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'toucan/toucan',
                'alt': "Азалия 'Toucan'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Красивый листопадный кустарник. Растёт быстро, к 10-ти годам достигает высоты 2 м. Листья матовые, зелёные, удлинённой формы, к осени приобретают оранжево-коричневый оттенок. Цветки крупные, кремовые, с золотистым пятнышком. Бутоны золотисто-жёлтые, к концу цветения почти белые. Цветёт обильно в мае и июне. Куст требует подрезки с целью стимулирования роста побегов. Растение подходит для бордюров, миксбордеров, различных цветочных композиций и как солитер. Перед кустами азалии рекомендуется высаживать многолетники спокойных оттенков, миниатюрные зелёные хвойные растения. Прекрасно сочетаются с азалиями папоротники, хосты. Фоном для азалии лучше всего выступят невысокие хвойные деревья и средней высоты кустарники с зелёной, зелёно-голубой и серебристой хвоёй. Азалии используются в создании вересковых и японских садов. Можно высаживать группами, рядом с садовыми ограждениями, стенами домов.
                                        br
                                        | Использование: Водоемы, Миксбордеры, Композиции, Бордюры, Солитер, Вересковый сад, Японский сад
                                        br
                                        | Цвет: Белый, Желтый
                                        br
                                        | Высота взрослого растения до: 200 см
                                        br
                                        | Период декоративности: Май, Июнь
                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")