-
  var slides = [
    {
      'alt': 'Садцентр превью',
      'imgPath': './img/main-slider/',
      'mobileMImg': 'main-slider-1-mobile-m',
      'mobileImg': 'main-slider-1-mobile',
      'mobileLImg': 'main-slider-1-mobile-l',
      'tabletImg': 'main-slider-1-tablet',
      'laptopImg': 'main-slider-1-laptop',
      'desktopImg': 'main-slider-1',
      'desktopRetinaImg': 'main-slider-1@2x'
    },
  ]

.container-fluid
  section.main-slider-wrap
    h2.visually-hidden Главный слайдер
    .main-slider
      each slide in slides
        .slider__item
          picture
            source(srcset=slide.imgPath+slide.desktopImg+'.webp, '+slide.imgPath+slide.desktopRetinaImg+'.webp 2x' media="(min-width: 1367px)" type="image/webp")
            source(srcset=slide.imgPath+slide.desktopImg+'.jpg, '+slide.imgPath+slide.desktopRetinaImg+'.jpg 2x' media="(min-width: 1367px)")
            source(srcset=slide.imgPath+slide.laptopImg+'.webp' media="(min-width: 1025px)" type="image/webp")
            source(srcset=slide.imgPath+slide.laptopImg+'.jpg' media="(min-width: 1025px)")
            source(srcset=slide.imgPath+slide.tabletImg+'.webp' media="(min-width: 769px)" type="image/webp")
            source(srcset=slide.imgPath+slide.tabletImg+'.jpg' media="(min-width: 769px)")
            source(srcset=slide.imgPath+slide.mobileLImg+'.webp' media="(min-width: 425px)" type="image/webp")
            source(srcset=slide.imgPath+slide.mobileLImg+'.jpg' media="(min-width: 425px)")
            source(srcset=slide.imgPath+slide.mobileImg+'.webp' media="(min-width: 376px)" type="image/webp")
            source(srcset=slide.imgPath+slide.mobileImg+'.jpg' media="(min-width: 376px)")
            source(srcset=slide.imgPath + slide.mobileMImg + '.webp' type="image/webp")
            img(src=slide.imgPath+slide.mobileMImg+'.jpg' alt=slide.alt)