extends ../../layouts/product-item

block variables
    - const title = "Павлония 'Гибрид-9501'";
    - const banner = "paulownia"

block content
    - const productTitle = "Гибрид-9501";
    - const imgPath = "../img/paulownia/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'gibrid-9501/gibrid-9501',
                'alt': "Павлония 'Гибрид-9501'"
            },
            {
                'imgPath': 'gibrid-9501/gibrid-9501-2',
                'alt': "Павлония 'Гибрид-9501'"
            },
            {
                'imgPath': 'gibrid-9501/gibrid-9501-3',
                'alt': "Павлония 'Гибрид-9501'"
            },
            {
                'imgPath': 'gibrid-9501/gibrid-9501-4',
                'alt': "Павлония 'Гибрид-9501'"
            },
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Павловния гибрид 9501 один самых перспективных и быстрорастущих.
                                        br
                                        | Засухоустойчив + 45°С
                                        br
                                        | Морозоустойчив – 27°С
                                    p
                                        | Павлония гибрид 9501- это гибрид между видами П. Войлочная (P. Tomentosa) и П. Фортунай (P. Fortunei).
                                        | При скрещивании связывали такие качества как – холодостойкость и темп роста, характеризуется прямым ростом стебля и узкой формой кроны дерева. Из-за их узкой кроны большее количество деревьев может быть размещено на гектар.
                                        | Гибрид 9501 в настоящее время является наиболее подходящим типом Павлонии для инвестирования ценных древесных насаждений, а также плантаций на биомассу.
                                    p
                                        | Самые ранние документы и летописи,упоминающие об использовании этого чудесного дерева, датируются ранее 2600 лет н.э. есть семена гибридов павловнии pao tong elongata tomentosa 9501 ель голубая дуб пихта сосна кедр кедровый стланик клен японский орех черный грецкий дыны тыква томаты перец лириодендрон пузыпеплодник туя липа можжевельник хосты криптомерия сциадопитис сосна зонтичная тсуга псевдотсуга лиственница баобаб банан калина шиповник бархат амурский виноград гинкго береза акация кактусы опунция литопсы женьшень фитолакка Веками дерево росло в Японии. И было известно под названием Кири(Kiri), что в переводе с японского означает “жизнь”. Кири всегда считалось священным деревом и символом удачи. По традиции при рождении дочери в семье, садили дерево павловнии. Когда девушка выходила замуж, дерево срезали и из него изготавливали ее свадебный сундук. Кроме этого существовало такое поверье, что если посадить павловнию недалеко от дома, то птица феникс прилетит и принесет счастье.Уникальность Павловнии заключается в том, что дерево не требует повторной посадки. После каждой вырубки, скоса, дерево регенерирует. Продолжительность жизни корня 70- 100 лет и может вынести между 4 и 8-9 циклов по восемь лет, что дает нам возможность возобновить наш рабочий процесс без затрат на новые посадки и обработку земель! Ствол можно срубить в любое время года несмотря на сезон и короткие сроки уборки, чего не бывает у других видов деревьев.Цветение: Приходится на весну и продолжается в течении 6-8 недель, что делает дерево Павловния идеальным материалом для озеленения городов, парковых территорий. Цветки крупные, окраска голубовато-фиолетовая, сиреневая или почти белая. Собраны цветки в крупные верхушечные метелки.Павловния является приспосабливающимся к местности, устойчивым к погодным условиям деревом, регенерирует и восстанавливает почву, очень декоративное и красивое, неагрессивное к окружающей среде насаждение, а также фабрикой кислорода и оружием против глобального потепления, производителем целлюлозы, кормов и отличный медонос – при этом быстро растет и набирает массу. Прирост размером в 1куб.м за 7-8 лет несравним с приростом любого другого древесного вида. Растение в целом со своим ускоренным ростом является маленьким богатством для человечества: оздоровляет и восстанавливает почвы от эрозии, одно дерево поглощает 22кг СО2 и отдает 6кг кислорода, вдумайтесь в эти

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")