extends ../../layouts/product-item

block variables
    - const title = "Смородина 'Гибрид 6-20-246'";
    - const banner = "currant"

block content
    - const productTitle = "Гибрид 6-20-246";
    - const imgPath = "../img/currant/";
    - const addInfo = "Гарантия 1 год. Саженцы двухлетние, трехлетние, закрытая корневая система, выращено в открытом грунте, обработаны."
    -
        const postImgs = [
            {
                'img': '../img/product/post-1',
                'alt': 'M&M'
            },
            {
                'img': '../img/product/post-2',
                'alt': 'Белпочта'
            },
            {
                'img': '../img/product/post-3',
                'alt': 'Европочта'
            }
        ]
    -
        const productImgs = [
            {
                'imgPath': 'gibrid-6-20-246/gibrid-6-20-246',
                'alt': "Смородина 'Гибрид 6-20-246'"
            }
        ]

    section.product
        .container
            .product__wrap
                .product__inner
                    .product__row
                        .product__gallery
                            .product__gallery-main
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '.jpg' alt=productImg.alt)

                            .product__gallery-nav
                                each productImg in productImgs
                                    picture
                                        source(srcset=imgPath + productImg.imgPath + '-sm.webp' type="image/webp")
                                        img(src=imgPath + productImg.imgPath + '-sm.jpg' alt=productImg.alt)

                        .product__info
                            h2.heading.page__heading= productTitle
                            .product__info-wrap
                                .product__info-descr
                                    p
                                        | Смородина черная Гибридная форма «ГФ 6-20-246».
                                        | НОВЕЙШИЙ гибрид черной смородины среднего срока созревания селекции ВНИИ люпина ( Брянск) Автор Астахов А.И
                                        | Куст мощный, среднерослый, среднераскидистый.
                                        | Растет прямым кустом высотой 70-100 см (обходится без подвязки).
                                        | Ягоды крупные, очень крупные.
                                        | Средняя масса 5,0-5,5г, некоторые до 7,0г.
                                        | Округлые, сладкие, с сухим отрывом.
                                        | Теневынослив, светолюбив.
                                        | Предпочитает умеренное увлажнение.
                                        | Урожайность высокая, стабильная, 5,5-6,0 кг с куста.
                                        | Ягоды употребляют в свежем виде, пригодны для сиропов, вареньев, джемов.
                                        | Устойчивость к мучнистой росе и почковому клещу высокая.
                                    p
                                        | При хорошей агротехнике, своевременных поливах и ежегодном мульчировании почвы под кустом 2-3 мя ведрами перегноя, становится сильнорослым,  благодаря этому урожайность так же увеличивается.
                                    p
                                        | Ценится за сладкий вкус огромных ягод.
                                    p
                                        | Высокая морозоустойчивость, в условиях аг «Прудок», аг «Зимовищи», аг «Загорины».

                .add-info
                    h2.heading.add-info__heading Дополнительная информация
                    .add-info__text
                        p.add-info__descr= addInfo

                .info-logo__wrap
                    ul.info-logo__list
                        each post in postImgs
                            li.info-logo__item
                                picture
                                    source(srcset=post.img+'.webp' type="image/webp")
                                    img(src=post.img+'.png' alt=post.alt)


block scripts
    script(src="../js/main.js")
    script(src="../js/vendor.js")